<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>clairvoyant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64A311741B6FCB3E00C126EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A3118B1B6FCB3F00C126EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A311961B6FCB3F00C126EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
