* { 
  /*margin: 0; */
 /* padding: 0;*/ }
/*html { background: black; }*/
body { 
   /* font: 14px Georgia, serif; 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3b3b3b),color-stop(1, #000000));
    background-repeat: no-repeat;
    min-height: 150px;*/
    
}

#page-wrap { 
  width: 300px; 
  margin: 0 auto; 
  padding-top: 5px; }

#well {
    
    
    padding: 2px 2px 2px 2px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: rgb(70,178,229);
    /*
    
    background: -moz-linear-gradient(top, #010101, #181818);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #010101),color-stop(1, #181818));*/
    
    border: 2px solid #454545; 
    overflow: hidden; 
    
    -webkit-user-select: none;
}

h6 {
      margin: 0;
  background-color: black;
  /*background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d); */

/*  background: -webkit-gradient(linear,left top,right top,
    color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); */
    /*
  background: -webkit-gradient(linear,left top,right top,
    color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); */
  -moz-background-clip: text;
  -webkit-background-clip: text;
  
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  
  /*-webkit-animation: slidetounlock 3s infinite;*/
  
  font-size: 18px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  
  padding: 0;
  width: 200%; 
  
  -webkit-text-size-adjust: none;
}


#slider {
    background: url(../images/arrow.png)  no-repeat;
    

    width: 73px;
    height: 49px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

@-webkit-keyframes slidetounlock {
    0% {
        background-position: 0px 0;
    }

    45% {
        background-position: -280px 0;
    }

    55% {
        background-position: 0px 0;
    }

    100%{
        background-position: 280px 0;
    }
}